.window-content{
  width: 100%;
}

.form-title{
  font-family: 'Averta-bold', sans-serif;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  margin-bottom: 76px;
  color: black;
}

.form-interests p{
  font-family: 'Averta-Regular', sans-serif;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #D1D1D1;
}