.footer{
  background-color: black;
  color: white;
  width: 100%;
  
}

a{
  text-decoration: none;
  color: white;
}

.footer-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content .container{
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 0 174px;
  padding-top: 200px;
  padding-bottom: 60px;
}

.footer-main{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 220px;
}

.footer-main__dudas{
  letter-spacing: 2px;
  width: 50%;
  font-size: 46px;
}

.footer-main__dudas .dudas-title{
  font-weight: bold;
}

.footer-main__dudas .dudas-subtitle{
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  text-decoration: none;
}

.footer-main__descubre{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
  width: 25%;
  font-weight: bold;
}
.footer-main__descubre a{
  margin-bottom: 10px;
}

.footer-section-title{
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
}

.footer-main__encuentra{
  display: flex;
  flex-direction: column;
  width: 25%;
  font-weight: bold;
}

.footer-main__encuentra a{
  margin-bottom: 10px;
}


.footer-company{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.footer-company p:first-child{
  font-size: 34px;
  margin-bottom: 10px;
}

.footer-law{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  letter-spacing: 2px;
}