.projects .container{
  display: flex;
  flex-direction: column;
  margin: 0 120px;
}

.projects-grid{
  display: inline-flex;
  justify-content: space-between;
}

.projects-item{
  width: 50%;
}

.first{
  margin-top: 150px;
  margin-right: 100px;
}

.project-item__banner{
  width: 500px;
  height: 560px;
}

.project-item__desc{
  margin-top: 30px;
  padding: 0 30px;
}

.name{
  font-size: 1.5em;
  color: #6F6F6F;
}

.description{
  padding: 13px 0;
  font-size: 2em;
}

.services{
  color: #999999;
  font-size: 1.5em;
}

.projects-footer{
  margin-top: 100px;
  text-align: end;
  font-size: 2em;
}

.link{
  text-decoration: none;
  color: black;
}