//@import url('http://db.onlinewebfonts.com/c/150037e11f159dca84bc4c04549094b6?family=Averta-Regular');

@font-face {
  font-family: 'CGothic';
  src: local('CGothic'), url('./fonts/century_gothic/GOTHIC.TTF') format('truetype');
}

@font-face {
  font-family: 'CGothic-bold';
  src: local('CGothic-bold'), url('./fonts/century_gothic/GOTHICB.TTF') format('truetype');
}